main{
    background-image: 
    url("../assets/images/pattern-lines.svg"),
    url("../assets/images/pattern-squiggly-line-bottom-desktop.svg"),
    url("../assets/images/pattern-squiggly-line-top.svg"),
    url("../assets/images/pattern-circle.svg"),
    url("../assets/images/pattern-circle.svg"),
    url("../assets/images/background-desktop.png")
    ;
    background-position: 
    top,
    bottom left,
    top 70px right,
    left 50px top -80px,
    bottom 20% right 23%,
    center
    ;
    background-repeat: 
    no-repeat,
    no-repeat,
    no-repeat,
    no-repeat,
    no-repeat,
    no-repeat
    ;
    background-size: 
    auto auto,
    775px 400px,
    446px 208px,
    217px 217px,
    217px 217px,
    100% 100%
    ;
}
.ticket{
    background: url("../assets/images/pattern-ticket.svg");
    background-repeat: no-repeat;
    background-size: 600px 280px;
    background-clip: padding-box;
    background-position: center;
}