*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    display: flex;
    justify-content: center;
}
body{
    font-size: 16px;
    max-width: 1440px;
    display: flex;
    justify-content: center; 
    align-items: center;
    overflow: auto;
    font-family: Inconsolata-medium ;
}
main{
    width: 100vw;
    height: 100vh;
    text-align: center;
    overflow-x: auto;
    padding: 20px;
}
input{
    font-family: Inconsolata ;
}
@font-face {
    font-family: Inconsolata-medium ;
    src: url(../assets/fonts/static/Inconsolata-Medium.ttf);
}
@font-face {
    font-family: Inconsolata-regular ;
    src: url(../assets/fonts/static/Inconsolata-Regular.ttf);
}
:root{
    --Neutral0: hsl(0, 0%, 100%);
    --Neutral300: hsl(252, 6%, 83%);
    --Neutral500: hsl(245, 15%, 58%);
    --Neutral700: hsl(245, 19%, 35%);
    --Neutral800: hsla(245, 18%, 29%, 0.452);
    --Neutral900: hsl(248, 70%, 10%);
    --InputBg: rgba(255, 255, 255, 0.055);
    --Orange500: hsl(7, 88%, 67%);
    --Orange700: hsl(7, 71%, 60%);
    --Gradient: hsl(7, 86%, 67%) to hsl(0, 0%, 100%);
}